body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

a {
    color: #ecf0f1;
    text-decoration: none;
    margin-bottom: 10px;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

.content {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
